@font-face {
  font-family: "iconfont"; /* Project id 3473950 */
  src: url('iconfont.woff2?t=1655636629557') format('woff2'),
       url('iconfont.woff?t=1655636629557') format('woff'),
       url('iconfont.ttf?t=1655636629557') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wxbsousuotuiguang:before {
  content: "\e620";
}

.icon-wode-wode:before {
  content: "\e60d";
}

.icon-dingdan-:before {
  content: "\e609";
}

.icon-waimai:before {
  content: "\e61b";
}

